<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/header :: header"></div>
<body>
<div th:replace="talent/navbar :: navbar"></div>
<div class="container">
    <div class="row" style="margin-top:50px;">
        <h1>Talents List</h1>
    </div>
    <div class="row" style="margin-top:20px; margin-bottom:30px;">
        <div class="col-md-4">
            <div class="form-group">
                <form class="form-inline" th:action="@{/talent/myclients/searchbyname}" style="text-align:center;">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query"/>
                    </div>
                    <br/>
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search By Name</button>
                    </span>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <form class="form-inline" th:action="@{/talent/myclients/searchbylocation}" style="text-align:center;">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query"/>
                    </div>
                    <br/>
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search By Location</button>
                    </span>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <form class="form-inline" th:action="@{/talent/myclients/searchbytalent}" style="text-align:center;">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query"/>
                    </div>
                    <br/>
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search By Talent</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th style="width:2%">#</th>
            <th style="width:10%">Date</th>
            <th style="width:15%">Client Name</th>
            <th style="width:15%">Client Location</th>
            <th style="width:15%">Talent</th>
            <th style="width:10%">Hourly rate</th>
            <th style="width:15%">Client Email</th>
            <th style="width:18%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="talent, talentStat : ${talents}" style="vertical-align: middle;">
            <td th:text="${talentStat.count}">1</td>
            <!-- temporals is the thymeleaf provided embedded object with format method-->
            <td th:text="${#temporals.format(talent.memberSince,'dd MMM yyyy')}">yyyy-mm-dd</td>
            <td th:text="${talent.name}">Client Name</td>
            <td th:text="${talent.location}">Client Location</td>
            <td th:text="${talent.talent}">Talent</td>
            <td th:text="${talent.rate}">Rate</td>
            <td th:text="${talent.email}">Email</td>
            <td>
                <a th:href="@{/talent/myclients/{clientId}/edit(clientId=${talent.id})}"
                   class="btn btn-primary">Edit</a>
                <a th:href="@{/talent/myclients/{clientId}/delete(clientId=${talent.id})}"
                   class="btn btn-danger">Delete</a>
                <a th:href="@{/talent/myclients/{talentUrl}/view(talentUrl=${talent.url})}"
                   class="btn btn-info">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>