<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/header :: header"></div>
<body>
<div th:replace="talent/navbar :: navbar"></div>
<div class="container">
  <div class="row" style="margin-top:50px; margin-bottom:30px;">
    <h1>Talents List</h1>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Talent</th>
      <th>Location</th>
      <th>Hourly rate</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="talent, talentStat : ${talents}" style="vertical-align: middle;">
      <td th:text="${talentStat.count}">1</td>
      <!-- temporals is the thymeleaf provided embedded object with format method-->
      <td th:text="${#temporals.format(talent.memberSince,'dd MMM yyyy')}">yyyy-mm-dd</td>
      <td th:text="${talent.talent}">Talent</td>
      <td th:text="${talent.location}">Location</td>
      <td th:text="${talent.rate}">Rate</td>
      <td>
        <a th:href="@{/talent/mytalents/{talentId}/edit(talentId=${talent.id})}"
           class="btn btn-primary">Edit</a>
        <a th:href="@{/talent/mytalents/{talentId}/delete(talentId=${talent.id})}"
           class="btn btn-danger">Delete</a>
        <a th:href="@{/talent/mytalents/{talentUrl}/view(talentUrl=${talent.url})}"
           class="btn btn-info">View</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>