<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Requests</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div th:replace="talent/navbar :: navbar"></div>
  <div class="container">
    <div class="row">
      <h1>Requests for Talents</h1>
    </div>
    <br/>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th style="width:3%">#</th>
          <th style="width:13%">Name</th>
          <th style="width:12%">Email</th>
          <th style="width:45%">Request</th>
          <th style="width:12%">Requested Date</th>
          <th style="width:15%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each = "request, requestStat :${requests}">
          <td th:text="${requestStat.count}"></td>
          <td th:text="${request.name}"></td>
          <td th:text="${request.email}"></td>
          <td th:text="${request.requestMessage}"></td>
          <td th:text="${#temporals.format(request.createdOn, 'dd MMM yyyy')}"></td>
          <td>
            <a class="btn btn-info" th:href="@{/talent/mytalents/requests/{requestId}(requestId=${request.id})}">Fulfill</a>
            <a class="btn btn-danger" th:href="@{/talent/mytalents/requests/{requestId}/delete(requestId=${request.id})}">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>