<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Talent</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div th:replace="list/navbar :: navbar"></div>
<br/><br/>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Talent: </h3>
      <h2 th:text="${talent.talent}"></h2>
      <hr/>
      <h3>Location:</h3>
      <h4 th:text="${talent.location}"></h4>
      <hr/>
      <h3>About:</h3>
      <h4 th:utext="${talent.description}"></h4>
      <hr/>
      <h5>Review / Requests:</h5>
      <div th:each = "request: ${talent.requests}">
        <div>
          <p><b>Name: </b><strong th:text="${request.name}"></strong></p>
          <p><b>Date: </b><span th:text="${#temporals.format(request.createdOn, 'dd MMMM yyyy')}"></span></p>
          <p th:text="${request.requestMessage}"></p>
          <br />
        </div>
      </div>
      <div>
        <h3>Review / Request a Service:</h3>
        <div class="card">
          <div class="card-header">
            <h5>Leave your details and we will contact you soon, thanks!</h5>
          </div>
          <div class="card-body">
            <form role="form"
                  method="post"
                  th:action="@{/{talentUrl}/requests(talentUrl=${talent.url})}"
                  th:object="${request}"
            >
              <div class="row">
                <div class="col-md-5 mb-3">
                  <input class="form-control"
                         id="name"
                         name="name"
                         placeholder="Enter Name"
                         field="*{name}"
                         type="text"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 mb-3">
                  <input class="form-control"
                         id="email"
                         name="email"
                         placeholder="Enter Email"
                         field="*{email}"
                         type="text"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 mb-3">
                    <textarea
                            class="form-control"
                            id="requestMessage"
                            name="requestMessage"
                            placeholder="Details on what you need"
                            rows="8"
                            field="*{requestMessage}"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-5">
                  <button
                          class="btn btn-primary"
                          type="submit"> Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- search bar goes here -->
      <div th:replace="list/search :: search"></div>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>