<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>~ 500 ~</title>
  <link rel="stylesheet" href="/css/500.css">
</head>
<body>
<div class="container">
  <img src="https://i.imgur.com/qIufhof.png" />

  <h1>
    <span>500</span> <br />
    Internal server error
  </h1>
  <p>We are currently trying to fix the problem.</p><br/>
  <div class="text">
    <h3>BACK TO HOME PAGE?</h3>
    <a th:href="@{/}" class="yes">YES</a>
  </div>
</div>
</body>
</html>